label {
  display: block;
  margin-bottom: 20px;
}
label input, label textarea {
  display: block;
  width: 50%;
  padding: 1em;
}
label .error {
  color: red;
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.cta {
  background: #70f;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat';
}
.results {
  margin-top: 50px;
}
.results strong {
  display: block;
}
.results span {
  margin-bottom: 20px;
  display: block;
}
