<ul class="navbar-nav">
  <li class="nav-item">
    <a  class="nav-link" routerLink = "/login">Login</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" routerLink = "/signup">Signup</a>
  </li>
</ul>