<flash-messages></flash-messages>
<nav class="navbar navbar-expand-lg navbar-light bg-light mera_nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  routerLink = "">Home </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink = "/posts">View Posts</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink = "/post/new">Create new Post</a>
      </li>
    </ul>
    <app-authentication></app-authentication>
  </div>
</nav>

<router-outlet></router-outlet>