
<button (mouseenter)="entered()" (mouseleave)="leaved()" (click)="firstClick()" >Hover on me</button>

<p *ngIf = "hovered" >
  Mouse is hovered on me
</p>

<h1>Users</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.data | paginate: { itemsPerPage: 5, currentPage: p }">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <a [routerLink]="['/users', user.id]">Show</a>
  </li>
</ul>

<pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize = "5" ></pagination-controls>