.gray {
  color: gray;
}
.large {
  font-size: 4em;
}
ul {
  list-style-type: none;
  margin: 10px 0px;;
  padding: 0;
}
ul li {
  background: #eee;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 7px;
  grid-template-columns: 60px auto;
}
ul li p {
  font-weight: bold;
  margin-left: 20px;
  display: inline-block;
  width: 48%;
  color: red;
  margin-bottom: 0px;
}
ul li p label{
  color: black;
  margin-bottom: 0px;
}