<div class="container">
  <div class="jumbotron">
    <h1>Login to your account</h1> 
    <form (ngSubmit)="login(user); userForm.reset()" #userForm = "ngForm" >  
      <div class="form-group">
        <label for="last_name">Email:</label>
        <input type="text" class="form-control" #title='ngModel' [(ngModel)]='user.email'  placeholder="Enter email" name="email" required >       
      </div>
      <div class="form-group">
        <label for="last_name">Password:</label>
        <input type="password" class="form-control" #title='ngModel' [(ngModel)]='user.password'  placeholder="Enter password" name="password" required >      
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [hidden]="submitted" >Submit</button>
    </form>
  </div>
</div>