<div class="container">
  <div class="jumbotron">
    <h1>Create a New Post Here</h1> 
    <form (ngSubmit)="register(user); userForm.reset()" #userForm = "ngForm" >
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" #title='ngModel' [(ngModel)]='user.first_name'  placeholder="Enter first name" name="first_name" required >
        <!-- <div [hidden] = 'first_name.valid || first_name.pristine' class="alert alert-danger" >
          First Name is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" #title='ngModel' [(ngModel)]='user.last_name'  placeholder="Enter last name" name="last_name" required >
        <!-- <div [hidden] = 'last_name.valid || last_name.pristine' class="alert alert-danger" >
          Last Name is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="last_name">Email:</label>
        <input type="text" class="form-control" #title='ngModel' [(ngModel)]='user.email'  placeholder="Enter email" name="email" required >
        <!-- <div [hidden] = 'email.valid || email.pristine' class="alert alert-danger" >
          Last Name is required
        </div> -->
      </div>
      <div class="form-group">
        <label for="last_name">Password:</label>
        <input type="password" class="form-control" #title='ngModel' [(ngModel)]='user.password'  placeholder="Enter password" name="password" required >
        <!-- <div [hidden] = 'email.valid || email.pristine' class="alert alert-danger" >
          Last Name is required
        </div> -->
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [hidden]="submitted" >Submit</button>
      <div [hidden]="!success" class="alert alert success" role="alert"  >
        User successfully created! Yayy
      </div>
      <div [hidden]="!failure" class="alert alert success" role="alert"  >
        Some error has occured . Please try again!
      </div>

    </form>
  </div>
</div>