<div class="container" *ngIf="user" >
  <div class="profile_section border p-4 rounded bg-light">
    <div class="row" >
      <div class="col-md-2">
        <img [src]="user.data.avatar"> 
      </div>
      <div class="col-md-5">
        <h1>{{user.data.first_name}} {{user.data.last_name}}</h1>
      </div>
    </div>
  </div>
</div>