<app-nav></app-nav>

<section>
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div> 
    <div class="col-md-3">
      <sidebar></sidebar>
    </div>  
  </div>
</section>