body, html {
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat';
  font-size: 18px;
}
a {
  text-decoration: none;
}
header .container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;
}
header .container a {
  color: white;
}
section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
