.post-list{
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px; 
}
.posts-list a{
    color: #fff;
    background-color: blue;
    padding: 8px 16px;
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 35%;
    border-radius: 5px;
}
.post-cards{
    min-height: 200px;
    text-align: center;
    padding: 10px;
}
.post-cards h3.card-title{
    font-weight: 700;
    font-size: 22px;
}
.post-cards a{
    font-size: 16px;
}
.ui.four.cards.posts-list{
    margin: 0px 20px;
}
.posts-list .post-cards {
    position: relative;
    padding: 30px 10px 50px 10px;
    margin-bottom: 20px;
}
.card{
    padding: 10px 10px 9px 10px;
}