<div class="container">
  <div class="jumbotron">
    <h1>Create a New Post Here</h1> 
    <form (ngSubmit)="create(post); postForm.reset()" #postForm = "ngForm" >
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" #title='ngModel' [(ngModel)]='post.title'  placeholder="Enter title" name="title" required >
        <div [hidden] = 'title.valid || title.pristine' class="alert alert-danger" >
          Title for Post is required  
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Description:</label>
        <textarea name="description" #description='ngModel' [(ngModel)]='post.description' cols="30" rows="10" class="form-control" ></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!postForm.form.valid" [hidden]="submitted" >Submit</button>
      <div [hidden]="!submitted" class="alert alert success" role="alert"  >
        Your post is successfully created.
        <a  class="alert-link" routerLink = "/posts">View Posts</a>
      </div>

    </form>
  </div>
</div>