<div class="container">
  <div class="ui four stackable cards posts-list">
    <div class="row">
      <div class="col-md-4" *ngFor = "let post of posts" >
        <div class="card  post-cards" >
            <h3 class="card-title" >
              {{post.title}}
            </h3>
            <p class="card-text" >
                {{post.description}}
            </p>
          <a (click) = "gotoshow(post)">View Post</a>
        </div>
      </div>
    </div>
  </div>
</div>