<div class="container">
  <div class="col-md-6 mx-auto ">
    <div class="card text-center">
      <div *ngIf = "post" >
        <h2>{{post.title}}</h2>
        <p>{{post.description}}</p>
      </div>
      <div class="row">
          <div class="col-md-6 text-left">
            <button type="button" (click)="toggleform()" class="btn btn-primary" >Edit</button>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" (click)="delete(post.id)" class="btn btn-primary" >Delete</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" [hidden] = "!editClicked" >
  <div class="jumbotron">
    <h1>Edit Post</h1> 
    <form (ngSubmit)="update(post, post.id); postForm.reset()" #postForm = "ngForm" >
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" #title='ngModel' [(ngModel)]='post.title'  placeholder="Enter title" name="title" required >
        <div [hidden] = 'title.valid || title.pristine' class="alert alert-danger" >
          Title for Post is required  
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Description:</label>
        <textarea name="description" #description='ngModel' [(ngModel)]='post.description' cols="30" rows="10" class="form-control" ></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!postForm.form.valid" [hidden]="submitted" >Submit</button>
      <div [hidden]="!submitted" class="alert alert success" role="alert"  >
        Your post is successfully updated.
        <a  class="alert-link" routerLink = "/posts">View Posts</a>
      </div>

    </form>
  </div>
</div>